apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-python-app
  namespace: secrets
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-python-app
  template:
    metadata:
      labels:
        app: my-python-app
    spec:
      serviceAccountName: my-app-sa
      containers:
      - name: python-app
        image: praveen1351/anytimerupee:v3
        ports:
        - containerPort: 5000
